<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JetLine | Confirm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body bgcolor="#f1f1f1">

<header>

    <div class="header-1">

        <a href="#" class="logo"><i class="fas fa-plane"></i>JETLINE</a>

    </div>

    <div class="header-2">

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="#home">HOME</a>
            <a href="flights.html">FLIGHTS</a>
           
            <a href="login.html">LOGIN</a>
            <a href="signup.html">SIGN-UP</a>


            
        </nav>

        <div class="icons">
          
           <!-- <a href="/searching" class="fas fa-search"></a>-->
            <a href="/profile" class="fas fa-user-circle" ></a>
        </div>
        
            
         </div>

    </div>

</header>

<section class="category1" id="category">

    <h1 class="heading"><span>Life is either a daring adventure or nothing at all.</span></h1>
    <h1 class="heading"><span>Happy Journey!</span></h1>
    
    <a href="/bookings" class="btn" style="margin-left: 44%; margin-top: 5%;">My Bookings</a>

</section>
